<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activated</title>
    <link rel="stylesheet" href="/batcave.css" />
    <link rel="icon" href="/batsignal.ico" />
</head>
<body>
    <header>
        <img src="/batsignal.png" />
    </header>
    <section>
        <h1 class="activated">Batcave Activated</h1>
        <div class="pyDiv">
            <form action="/batcave/zap" method="get">
                <button>Reactivate</button>
            </form>
        </div>
    </section>
</body>
</html>